<section class="tiles">
	<article class="style1">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/site.html">
			<h2>Site</h2>
			<div class="content">
				<p>Accompagnements et solutions pour le cadrage, les choix techniques, le design, le développement ou encore la maintenance de votre site internet</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/application.html">
			<h2>Application</h2>
			<div class="content">
				<p>Accompagnements et solutions pour le cadrage, les choix techniques, le design, le développement ou encore la maintenance de votre application mobile</p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/crm_optimisation_contacts.html">
			<h2>CRM</h2>
			<div class="content">
				<p>Accompagnements et solutions pour le cadrage, le choix d'une solution, l'intégration ou encore l'optimisation de votre outil de relation client</p>
			</div>
		</a>
	</article>
	<article class="style4">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/transverse.html">
			<h2>Transverse</h2>
			<div class="content">
				<p>Accompagnements et solutions sur des sujets digitaux transverses comme la cybersécurité, la stratégie digitale ou encore le bid data et l'intelligence artificielle</p>
			</div>
		</a>
	</article>
		<article class="style5">
			<span class="image">
				<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
			</span>
			<a href="{{ site.url }}{{ site.baseurl }}/formation.html">
				<h2>Formation</h2>
				<div class="content">
					<p>Propositions de formations sur des sujets relatifs à l'agilité, le design thinking, la relation client...et bien d'autres sujets</p>
				</div>
			</a>
		</article>



</section>
