<section class="tiles">
	<article class="style1">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/site_amoa.html">
			<h2>Accompagnement</h2>
			<div class="content">
				<p>Conseil et coaching sur le cadrage de projet, le receuil de besoin, le choix de solutions d'architecture ou encore l'optimisation de la performance</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/site_conception.html">
			<h2>Conception</h2>
			<div class="content">
				<p>Réalisation </p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/site_maintenance.html">
			<h2>Administration & Maintenance</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
</section>
