<header>
        <h1>Précisez votre besoin !</h1>
        <p>Cliquez sur chaque vignette pour plus d'informations.</p>
</header>
<section class="tiles">
    {% for doc in site.metiers %}
        {% if doc.domaine contains page.domaine %}
            <article class="style{{ forloop.index | plus:1 }}">
                <span class="image">
                    <img src="{{ site.url }}{{ site.baseurl }}/images/{{ doc.image }}" alt="" />
                </span>
                <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">
                    <h2>{{ doc.nom }}</h2>
                    <div class="content">
                        <p>{{ doc.description_courte }}</p>
                    </div>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</section>
