<header>
    <h1>Voici les acteurs que nous avons trouvé...</h1>
    <p>Cliquez sur chaque vignette pour plus d'informations.</p>
</header>

<section class="contacts">
    {% for doc in site.entreprises %}
        {% if doc.metier contains page.domaine and doc.metier contains page.metier %}
            <article class="style{{ forloop.index | plus:1 }}">	
                <span class="image">
                    <img src="{{ site.url }}{{ site.baseurl }}/images/{{ doc.image }}" alt="" />
                </span>
                <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">
                </a>
            </article>
        {% endif %}
    {% endfor %}
</section>