<header>
        <h1>Vous avez un projet digital, quel est-il ?</h1>
        <p>Sélectionnez parmi les 5 cinq grandes catégories ci-dessous, celle qui se rapproche le plus de votre besoin.</p>
</header>
<section class="tiles">
    {% for doc in site.themes %}
        <article class="style{{ forloop.index | plus:1 }}">
            <span class="image">
                <img src="{{ site.url }}{{ site.baseurl }}/images/{{ doc.image }}" alt="" />
            </span>
            <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">
                <h2>{{ doc.nom }}</h2>
                <div class="content">
                    <p>{{ doc.description_courte }}</p>
                </div>
            </a>
        </article>
    {% endfor %}
    {% for doc in site.domaines %}
        <article class="style{{ forloop.index | plus:1 }}">
            <span class="image">
                <img src="{{ site.url }}{{ site.baseurl }}/images/{{ doc.image }}" alt="" />
            </span>
            <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">
                <h2>{{ doc.nom }}</h2>
                <div class="content">
                    <p>{{ doc.description_courte }}</p>
                </div>
            </a>
        </article>
    {% endfor %}
</section>
