<section class="tiles">
	<article class="style1">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/strategie_digitale.html">
			<h2>Stratégie Digitale</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/transverse_cyber.html">
			<h2>Cybersécurité</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/data_ia.html">
			<h2>Big Data & Intelligence artificielle</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
</section>
