<section class="contacts">
	<article class="style1">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/entreprises/data_transition.html">
			<h2>Data Transition</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/conception.html">
			<h2>Conception</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/optimisation.html">
			<h2>Optimisation</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
		<article class="style9">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/conception.html">
			<h2>Conception</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style10">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/optimisation.html">
			<h2>Optimisation</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style4">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/amoa.html">
			<h2>AMOA</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style5">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/conception.html">
			<h2>Conception</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style6">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/optimisation.html">
			<h2>Optimisation</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
		<article class="style7">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/conception.html">
			<h2>Conception</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
	<article class="style8">
		<span class="contact_image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/optimisation.html">
			<h2>Optimisation</h2>
			<div class="content">
				<p>Petite description à mettre à jour</p>
			</div>
		</a>
	</article>
</section>
